{% extends "index.html" %} {% block title %} About {% endblock %} 

{% block content %}
<form action="/about" method="post">
  <body style="min-width: 100%;">
        <div class="split-container">
          <div class="image-side">
            <img src="/static/art.png" alt="img6">
          </div>
          <div class="text-side">
            <h1>
                LAST WOMEN ON EARTH
             </h1>
             <p>
                    Last Women on Earth is an online site made for you to explore your creativity and thoughts that society often tries to supress.
                    <br><br>
                    Dear reader,
                    <br><br>
                    In my experience and the experiences of many other Black women and other women of color are thoughts and accomplishments are often overlooked or mistreated by society.
                    This website is a starting point for you to have a platform to express yourself and your creativity.
                    <br><br>
                    This site has a strong emphasis on the women empowerment with a space theme. A common thread of erasing the culture of black female fashion, music, and art is sewn throughout history.
                    My objective for you and for all women, especially of color, to have a space to be appreciated for all that you are and all that you have done.
                    <br><br>
                    From my perspective, college is all about exploration. During the short time that I've been here I have been exploring my sense of style and fashion.
                    I am a person who loves to express myself through fashion, art, writing, and the music I listen to.
                    In each thing that I do, whether it is coding or writing a poem, I try to implement creativity and ingenuity.
                    <br><br>
                    So please come and go on journey of self-discovery through fashion and art by creating your own account! From listening to music and having your own diary, you will get to experience a world made for you.
            </p>
          </div>
        </div>
      </body>
</form>
{% endblock %}