<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Notable' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Georgia' rel='stylesheet'>

        <link href="/static/styles.css" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"><script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="/static/script.js"></script>

        <title>About</title>
    </head>

    <body>
        <div class="split-container">
          <div class="image-side">
            <img src="/static/art.png" alt="img6">
          </div>
          <div class="text-side">
            <h1>
                LAST WOMEN ON EARTH
             </h1>
             <p>
                    Last Women on Earth is an online site made for you to explore your creativity and thoughts that society often tries to supress.
                    <br><br>
                    Dear reader,
                    <br><br>
                    In my experience and the experiences of many other Black women and other women of color are thoughts and accomplishments are often overlooked or mistreated by society.
                    This website is a starting point for you to have a platform to express yourself and your creativity.
                    <br><br>
                    This site has a strong emphasis on the y2k era because of both my obession of it and the fact that many of fashion trends we see today that stem from the y2k era
                    can be traced to Black women and girls during those times. A common thread of erasing the culture of black female fashion, music, and art is sewn throughout history.
                    My objective for you and for all women, especially of color, to have a space to be appreciated for all that you are and all that you have done.
                    <br><br>
                    From my perspective, college is all about exploration. During the short time that I've been here I have been exploring my sense of style and fashion.
                    I am a person who loves to express myself through fashion, art, writing, and the music I listen to.
                    In each thing that I do, whether it is coding or writing a poem, I try to implement creativity and ingenuity.
                    <br><br>
                    So please come and go on journey of self-discovery through fashion and art by creating your own account! From listening to music and having your own diary, you will get to experience a world made for you.
            </p>
          </div>
        </div>
    </body>


    <header>
        <nav>
            <ul>
                <!--add logo here-->
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                   <!--<a href="create.html">Create</a>-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Create
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="visionboard.html">Vision Board</a>
                          <a class="dropdown-item" href="journal.html">Journal</a>
                          <a class="dropdown-item" href="generate.html">Generative AI</a>
                          <div class="dropdown-divider"></div>
                        </div>
                    </li>
                </li>
                <li><a href="resources.html">Resources</a></li>
                <li><a href="community.html">Community</a></li>
                <li class="login"><a href="register/html">Register</a></li>
                <li class="register"><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>


</html>