{% extends "index.html" %} {% block title %} Community Hub {% endblock %} 

{% block content %}
<form action="/about" method="post">
    <body style="min-width: 100%;">
        <div class="split-container">
            <div class="image-side">
              <img src="/static/art.png" alt="img6">
            </div>
        <div class="text-side">
            <h1>
                DISCOVER & CONNECT in our Community Hub!
            </h1>
            <p>
                Embark on a journey of connection and inspiration at Last Women on Earth as you share your unique stories and articles, 
                fostering a sense of community where every post becomes a thread in cloth of diverse voices, inviting you 
                to not only express yourself but also to explore the profound narratives woven by others.
            </p>
        </div>
        </div>
    </body>
</form>
{% endblock %}