<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Zen Dots' rel='stylesheet'>

    <link href="/static/styles.css" rel="stylesheet">

    <title>The Last of Venus</title>
</head>
<body>
    <div class="container">
        <h1>The Last of Venus</h1>
        <p>The Last of Venus is an anime transformation filter currently app that aims to highlight the dimensions of Black female beauty that is often erased in technology and society. </p>
        <h2>Upload a Picture to See Your Own Anime Avatar!</h2>
        <img width="500" src="/static/anime13.jpg">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".jpg, .jpeg, .png">
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>
